/*
========================
All
========================
*/


h2 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: 600;
}

p {
	margin: 0;
	color: #777777!important;
}

body {
	background: url('../images/headerimg.jpg') no-repeat center center fixed;
	background-size: cover;
}

/*
========================
NAVBAR
========================
*/

.navbar {
	background: #ffffff;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	box-shadow: 0 .5px .5px #cccccc;

}

.navbar-brand {
	background: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, Times New Roman, serif;
}

.navbar-brand:hover {
	color: #ffffff;
}

.nav-link {
	color: #777777;
}

.nav-link:hover {
	color: #4aaaa5;
	box-shadow: 0 2px 3px -3px #4aaaa5;
}

.nav-link .active{
	color: #4aaaa5;
}

/*
========================
CONTENT
========================
*/

.the-content {
	background: #ffffff;
}

.aboutImg {
	width: 300px;
	float: left;
}

#firstP {
	text-indent: 0;
}

#firstP::first-letter {
	font-size: 48px;
	float: left;
	margin-right: 5px;
	color: #4aaaa5;
	font-weight: 700;
	line-height: 1;
}

html {
	min-height: 100%;
	position: relative;
}

.portLinks {
	min-height: 225px;
	min-width: 300px;
}

.portLinks:hover {
	text-decoration-color: #ffffff;
}

.portImg {
	min-height: 225px;
	min-width: 300px;
	background-size: cover;
}

.portImg:hover {
	box-shadow: 2px 2px 3px rgba(73,170,165,.5);
	transform: translateY(2px);
}

.portImg h3 {
	background: #4aaaa5;
	color: #ffffff;
}

#logoDesign {
	background-image: url('../images/ps.jpg');
}

#typography {
	background-image: url('../images/typeo.jpg');
}

#photography {
	background-image: url('../images/photog.jpg');
}

#webDesign {
	background-image: url('../images/webd.jpg');
}

#webDev {
	background-image: url('../images/code.jpg');
}

.btn {
	background-color: #4aaaa5;
	border-color: #4aaaa5;
	color: #ffffff;
}

/*
========================
FOOTER
========================
*/

.footer {
	bottom: 0;
	width: 100%;
	position: absolute;
	height: 50px;
	background: #666666;
	text-align: center;
	border-top: 5px solid #4aaaa5;
}

.container p {
	color: #dddddd!important;
	font-size: 12px;
}
